---
layout: default
---
<div class="home">
    <div class="container">
        <div class="map">
            <div class="stop">
                <div class="logo">
                </div>
                <div class="logo-right">
                    Tokyo JS<br>
                    <span data-name="date">?</span> 19:00
                </div>
            </div>

            <div class="stop">
                <div class="left-side">
                </div>
                <div class="line"></div>
                <div class="right-side">
                </div>
            </div>

            <div class="stop">
                <div class="left-side">
                    Today
                </div>
                <div class="line dot"></div>
                <div class="right-side">
                    <div class="station-subtitle">
                        If you want to attend,
                    </div>
                    <div class="station-title">
                        <a href="http://www.meetup.com/tokyojs/">RSVP</a> and tell your friends
                    </div>
                </div>
            </div>

            <div class="stop">
                <div class="left-side">
                    <span id="days">?</span> Days
                </div>
                <div class="line dot"></div>
                <div class="right-side">
                    <div class="station-subtitle">
                        Do nothing but
                    </div>
                    <div class="station-title">
                        Wait patiently.
                    </div>
                </div>
            </div>


            <div class="stop">
                <div class="left-side">
                    <span data-name="date">?</span>
                </div>
                <div class="line dot"></div>
                <div class="right-side">
                    <div class="station-subtitle">
                        Make your way to
                    </div>
                    <div class="station-title">
                        <a href="https://www.google.com/maps/place/4+Chome-1-20+Toranomon,+Minato-ku,+T%C5%8Dky%C5%8D-to+105-0001,+Japan/@35.6653031,139.7415638,17z/data=!3m1!4b1!4m5!3m4!1s0x60188b90f411fc97:0xc51854c20cec88ed!8m2!3d35.6653031!4d139.7437525?hl=en">
                            Abeja, INC in Toranomon
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="stop">
                <div class="left-side">
                </div>
                <div class="line"></div>
                <div class="right-side">
                </div>
            </div>
            
            <!-- Speaker block -->
            {% include metro-stop.html 
                title="<a href=\"/speakers/\">BE THE 1st SPEAKER!</a>" 
                subtitle="Listen to the 1st speaker, or" 
                time="19:00"
            %}
            
            {% include metro-stop.html 
                title="<a href=\"/speakers/\">BE THE 2nd SPEAKER!</a>"
                subtitle="Listen to the 2nd speaker, or" 
                time="19:30" 
            %}
            
            {% include metro-stop.html 
                title="<a href=\"/speakers/\">BE THE 3rd SPEAKER!</a>" 
                subtitle="Listen to the 3rd speaker, or" 
                time="20:00"
            %}
            
            {% include metro-stop.html 
                title="<a href=\"/speakers/\">BE THE 4th SPEAKER!</a>" 
                subtitle="Listen to the 4th speaker, or" 
                time="20:30"
            %}
            
            <!-- drinking advice -->
            {% include metro-stop.html 
                title="Grab some drinks at the local bar" 
                time="21:00"
            %}

            <div class="stop">
                <div class="left-side">
                </div>
                <div class="line"></div>
                <div class="right-side">
                </div>
            </div>

            <div class="stop">
                <div class="left-side">
                    Next time
                </div>
                <div class="line dot"></div>
                <div class="right-side">
                    <div class="station-subtitle">
                    </div>
                    <div class="station-title">
                        <a href="/sponsors">Be our next
                            sponsor!</a>
                    </div>
                </div>
            </div>

            <div class="stop">
                <div class="terminate"></div>
            </div>
        </div>
        <div class="text">
            More information for <a href="/attendees/">attendees</a>, <a href="/speakers/">speakers</a> and <a href="/sponsors/">sponsors</a>.
        </div>
        <div class="text">
            Thanks to <a href="http://brooklynjs.com/">BrooklynJS</a> for the inspiration.
        </div>
    </div>
</div>
<script>

    var DAYS = [
            'Sunday',
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday'
    ];

    var MONTHS = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
    ];

    function getOrdinal (n) {

        var s   = ['th', 'st', 'nd', 'rd'];
        var v   = n % 100;

        return (s[(v-20)%10]||s[v]||s[0]);

    }

    function getPrettyDate (date) {

        var day     = DAYS[date.getDay()];
        var month   = MONTHS[date.getMonth()];
        var ordinal = getOrdinal(date.getDate());

        return day + ', ' + month + ' ' + date.getDate() + ordinal;

    }

    var nextDate = new Date('2016/08/12 19:00:00+09');
    var msInDay  = 1000 * 60 * 60 * 24;

    var daysElm  = document.getElementById('days');
    var datesElm = document.querySelectorAll('[data-name="date"]');

    for (var i = 0, l = datesElm.length; i < l; i += 1) {
        datesElm[i].textContent = getPrettyDate(nextDate);
    }

    daysElm.textContent = Math.floor((nextDate.getTime() - Date.now()) / msInDay)

</script>
